<h1>Bookmarks</h1>

<ul>
  <%@bookmarks.each do |bookmark|%>
    <li> <%= bookmark %> </li>
  <% end %>
</ul>

<form action="/form" method="get">
  <button type="submit" name="button">Add bookmark</button>
</form>
